body{
    background-color: #646C79;
    font-family: 'Inconsolata', monospace;  
}

#banner{
    background-color: #1F3044;
    width: 100%;
    text-align: center;
    height: auto;
    position: relative;
    bottom: 20px;
    color:#FB9039;
    font-weight: bold;
    font-size: 20px;
    outline: 2px solid #FB9039;
}

#banner2{
    text-align: center;
    background-color: #FB9039;
    color:  #1F3044;
    justify-content: center;
    width: 50%;
    margin: auto;
    position: relative;
    bottom: 40px;
    font-weight: bold;
    font-size: 20px;
    color:  #1F3044;
    outline: 2px solid #1F3044;
}

#video{
    justify-content: center;
    margin: auto;
}
